.profile-card {
    width: 90%;
    background-color: #ECF6E9;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 40px auto;
  }
  .name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: #435426;
  }
  .photo {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border-radius: 50%;
    border: 10px solid #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .description {
    font-size: 18px;
    text-align: left;
    margin: 0px;
    padding:10px 40px;
    color: #333;
    line-height: 1.5;
  }
  .responsiveCards{
    display : absolute;
  }

  @media only screen and (min-width: 768px) {
    .responsiveCards{
        display : flex;
      }
    .profile-card {
      width: 50%;
    }
  }
  @media only screen and (min-width: 992px) {
    .profile-card {
      width: 30%;
    }

    .responsiveCards{
        display : flex;
      }
  }
