.contactimage{
    display: flex;
    height:auto;
    width :35%;
    margin:auto;
 

  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
     /* Set the height of the container as needed */
  }


  .contactbutton {
    border: 2px solid #0A2451; /* Set border color */
    color: #0A2451; /* Set text color */
    background-color: white; /* Set background color */
    border-radius: 10px;
    
 }

.contactbutton:hover {
    background-color: #0A2451;
    color: whitesmoke;
  }

@media (max-width: 768px) {

.contactimage{
    width: 100%;
    display: flex;
 }
}
