  
  .marqueey {
    overflow: hidden;
    // max-height: 100px;
    margin: 3em auto;
  }
  
  .marquee-contenty {
    display: flex;
    animation: scrolling-2 20s linear infinite;
    &:hover {
        animation-play-state: paused;
      }
  }
  


  
  .marquee-itemy {
    flex: 0 0 16vw;
    margin: 0 1vw;

  /*   flex: 0 0 20vw; */
  /*   margin: 0 2vw; */
  }
  
  .marquee-itemy img {
    display: block;
    width: 100%;
    max-width: 200px;
    max-height: 150px;
  /*   padding: 0 20px; */
  }

  .Hiring-partnersy{
    text-align: center;
    padding-top: 50px;
    color: #0A2451;
    text-decoration: underline;
    text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
    letter-spacing: 5px;
  }

  .photogalleryy{

      text-align: center;
      padding-top: 8%;
      color: #0A2451;
      text-decoration: underline;
      text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
      letter-spacing: 5px;
  
  }
  
  @keyframes scrolling-2 {
    0% { transform: translateX(-100vw); }
    100% { transform: translateX(0); }
    /* Set the duration to be the same as scrolling-1 */
    // animation-duration: 20s;
  }
  